
h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: white;
    text-shadow: 5px 5px 5px black;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 14px;
    background-color: rgba(5, 189, 189, 0.849);
    max-width: 500px;
    margin-bottom: 20px;
    size: 1000px;
      
}
form label {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}
h2{
    color:white;
    text-shadow: 5px 5px 5px black;
}